.main_body{
background-color: black;
text-align: center;
height: 1000px;
}

div{
border: 1px solid black;
padding: 15px;
margin: 5px;
}

h1{
color: lavenderblush;

}

p{
color: lavenderblush;

}

.boks1{
background-color: white;
border: solid black;
display: grid;
}

.boks2{

  display: inline-flex;
    
    }




.boks3{
display: inline-flex;

}



.boks4{
text-size-adjust: 30px;
    width: 240px;
    height: 480px;
text-align: center;

}

.boks6{



}

.boks9{



}

.bilde7{
width: 140px;

}


.lastopp{

background-color: blue;
color: lavenderblush;
height: 3px;
}