.main_body{
background-color: black;
text-align: center;
height: 1000px;
}



body{
background-color: black;

}

div{
border: 1px solid black;
padding: 15px;
margin: 5px;
}

h1{
color: lavenderblush;

}

p{
color: lavenderblush;

}

.boks1{
background-color: white;
border: solid black;
display: grid;
}

.boks2{

  display: inline-flex;
    
    }




.boks3{
display: inline-flex;

}



.boks4{
text-size-adjust: 30px;
    width: 240px;
   
text-align: center;

}

.boks5{

text-align: start;
height: 80px;

}



.boks6{

width: 1000px;

}



.lastopp{

background-color: blue;
color: lavenderblush;
height: 3px;
width: 58px;
}

.tekst{
size: 2px;

}


.bilde1{

width: 325px;

}

.bilde2{

width: 325px;

}

.bilde3{

width: 325px;

}

.bilde4{

width: 325px;
}

.bilde5{

width: 325px;

}

.bilde6{

width: 325px;

}


.bilde7{
  width: 140px;
  
  }